@media (max-width: 1200px) {
	.carsList .service-price .price {
	    font-size: 14px;
	    color: #1A2B50;
	}
	.search-result-page .grid-item .section-footer .unit {
	    font-size: 11px;
	    color: #5E6D77;
	}
	.carsList .service-price .btn.btn-outline-secondary {
	    font-size: 12px;
	}
	.input-group-append .custom-select.time-dropdown {
	    height: 35px;
	    padding-left: 24px;
	    font-size: 14px;
	}
	.submitBtn {
		padding: 10px 27px 10px 27px;
		font-size: 16px;
	}
	.tabsWrapper .nav-tabs .nav-link {
		font-size: 65%;
	}
	.search-result-page .grid-item .car-equipments .item:not(:first-child) {
    	margin-left: 16px;
	}
	.car-equipments label {
		display: block;
		margin-bottom: 0;
		line-height: 16px;
	}
	.search-form-wrapper .collapse-title {
		font-size: 15px;
	}
	.st-checkout-page .cart-info .info-section ul li span.label {
		width: 30%;
	}
	.st-checkout-page .cart-info .info-section ul li span.value {
		width: 70%;
		font-size: 16px;
	}
	h4.policy-title:after {
    	width: 72%;
    	left: 70px;
	}
	.filter-wrapper .search-label {
		font-size: 15px;
	}
	.search-label ~ a,
	.car-card .main-details {
		font-size: 13px;
	}
	.st-faq-new .item .card-header a {
		font-size: 13px;
	} 
	.seacrh-hotel-section .service-price {
		height: 70px;
	}
	.freeMember {
		font-size: 11px;
	}
	.price-section .label {
    	font-size: 13px;
    	line-height: 28px;
	}
} 
@media (min-width: 992px) {
	.blog-page .container {
	    width: 970px;
	}
}
@media (min-width: 1200px) {
	.blog-page .container {
	    width: 1200px;
	}
	.navbar-responsive {
		display: none;
	}
}
@media (max-width: 1024px) {
	.navbar-responsive .navbar-dark{
		background: #002e6d;
		color:#fff;
		padding-top: 10px;
	}
	.navbar-responsive .navbar-brand {
		padding-right: 0;
	}
	.navbar-responsive .navbar-toggler {
		margin-right: 12px;
	}
	.navbar-responsive .navbar-brand img {
		width: 130px;
	}
	.navbar-dark .navbar-nav .nav-link,
	.hotel-header {
	    color: #fff;
	    opacity: 1;
	    font-size: 14px;
	    padding: 8px 16px;
	}
	.navbar-responsive .responsive-dropdown .dropdown-menu {
		border-radius: 0;
		min-width: 21rem;
		border:0; 
	}
	.bannerSlideShow .slide .contentWrapper {
    	margin-left: 57%;
    	padding: 20px;
	}
	.flightTop .priceDiv {
		font-size: 16px;
		padding-right: 0;
	}
	.ft-checkout-page .priceDiv {
		padding-right: 15px;
	}
	html:not([dir=rtl]) .noUi-horizontal .noUi-handle.noUi-handle-lower {
		left: auto;
	}
	.ft-checkout-page .flightTop .leftWrap{
		border-right: 0;
	}
	.fare-label,
	.filter-wrapper .material-icons {
		font-size: 18px;
	}
	.ft-checkout-page .customCheckbox,
	.ft-flight-booking .rs_vertical_middle,
	.ft-flight-booking .layover-time,
	.ft-flight-booking .summary-card label,
	.filter-wrapper .dateRangepicker,
	.summary-card label{
		font-size: 12px;
    }
	.ft-flight-booking .summary-card label.totalPrice {
    	font-size: 15px;
    	font-weight: 300;
	}
	.ft-flight-booking .rs_flight_details__time .material-icons,
	.back,.forgot-password-container .text-muted,
	.filter-wrapper .search-label,
	.reservation-label,
	.details {
		font-size: 14px;
	} 
	.seacrh-hotel-section .card .item-content {
		padding: 10px;
	}
	.seacrh-hotel-section .card .service-title,
	.hotelResults {
		font-size: 16px
	}
	.seacrh-hotel-section .item-content .shortDesc,
	.ft-flight-booking .summary-card label,
	.summary-card label  {
		line-height: 16px;
	}
	.flight-booking-card .rs_text--lighter,
	.ft-flight-booking .rs_flight_details__highlightBar .rs_vertical_middle  {
		line-height: 18px;
	}
	.flight-booking-card .rs_flight___date,
	.flight-booking-card .rs_text--lighter {
    	font-size: 14px;
	}
	.ft-flight-booking .rs_flight_details__highlightBar .rs_vertical_middle {
		display: block;
    }
	.ft-flight-booking .rs_flight_details__leg__left {
		width: 50px;
	}
	.ft-flight-booking .rs_flight_details__leg__right {
		margin-left: 64px;
	}
	.ft-flight-booking .rs_flight_details__leg {
		padding: 0.97em 0px 18px;
	}
	.flight-booking-card .rs_flight_details__time {
		line-height: 22px;
	}
	.container {
		width: 100%;
	}
	.search-label ~ a {
    	font-size: 11px;
	}
	.filter-wrapper .btn-primary {
		font-size: 15px;
    	padding: 6px 10px;
	}
	.filter-wrapper .date-range {
		font-size: 13px;
	}
	.price-section ul {
		padding-right: 10px;
	}
	.st-checkout-page .cart-info .service-section .service-left h4.title,
	.st-checkout-page .cart-info .info-section ul li,
	.st-checkout-page .cart-info .info-section ul li span.value,
	.st-checkout-page .cart-info .info-section ul li.ad-info ul li span.label,
	.st-checkout-page .cart-info .info-section ul li.ad-info ul li span.value {
		font-size: 14px;
    	line-height: 20px;
	}

	.st-checkout-page .cart-info .service-section,
	.st-checkout-page .cart-info .info-section,
	.st-checkout-page .cart-info .info-section ul li.ad-info ul,
	.st-checkout-page .cart-info .total-section {
		padding: 20px 15px;
	}
	.rightSideBar h3,
	.flightSummary h3 {
		font-size: 16px;
	    line-height: 13px;
	    margin-bottom: 0;
	    padding: 15px 0
	}
	.rightSideBar {
		padding-top: 0;
	}
	.st-checkout-page .check-out-form .form-group .form-control {
		margin-bottom: 0;
	}
	.st-checkout-page .st-icheck,
	.st-description {
		margin-top: 0;
	}
	.card-header .btn-link {
		font-size: 14px;
		padding: 9px 15px;
	}
	.st-checkout-page .form-group input,
	.st-checkout-page .form-group .custom-select {
    	height: 35px;
    	line-height: 20px;
    	margin-bottom: 0;
    	font-size: 14px;
	}
	.st-checkout-page .cart-info .service-section .service-right img {
    	min-width: 85px;
    	max-height: 85px;
	}
	.cancellationText {
		font-size: 11px;
	}
	.text-timer {
		font-size: 12px;
	}
	.faq-sidebar-title:after {
		width: 60%;
	}
	.st-blog .content .article .post-inner h4.post-title,
	.blog-content .title {
	    font-size: 20px;
	    line-height: 24px;
	    margin-top: 15px;
	    margin-bottom: 0;
	}
	.st-blog .content .article .post-inner .meta ul {
		flex-wrap: wrap;
	}
	.st-blog .content .article .post-inner .meta ul li {
		margin-right: 0;
		font-size: 13px;
		margin-top:10px;
	}
	.st-blog .content .article .post-inner .meta {
		margin-bottom: 20px;
	}
	.st-blog .content .article .post-inner a.btn-readmore,
	.blog-content .st-flex .tags {
		margin-top: 0;
	}
	.st-blog .content .article {
    	margin-bottom: 20px;
	}
	.st-blog {
		padding: 30px 0;
	}
	
	.st-blog .content .article .post-inner .meta ul li:after {
		background: none;
	}
	.st-blog aside .sidebar-widget {
    	margin-bottom: 15px;
	}
	.st-blog aside .sidebar-widget .sidebar-title, .faq-sidebar .faq-widget {
		margin-bottom: 10px;
	}
	.st-blog aside .sidebar-widget .sidebar-title h4, .faq-sidebar-title {
		padding-right: 15px;
		font-size: 14px;
	}
	.st-blog aside .sidebar-widget.st_categories_new ul li {
		margin-bottom: 10px;
		line-height: 20px;
	}
	.st-blog aside .sidebar-widget.st_categories_new ul li span {
		margin-right: 10px;
	}
	.st-blog aside .sidebar-widget.widget_st_list_entries ul li .content .thumb-list-item-title,
	.st-blog aside .sidebar-widget.widget_st_list_entries ul li .content .thumb-list-item-title a {
		line-height: 18px;
		font-size: 13px;
	}
	.st-blog aside .sidebar-widget.widget_st_list_entries ul {
		margin-top: 15px;
	}
	.st-blog aside .sidebar-widget.widget_tag_cloud .tagcloud a {
		font-size: 10px !important;
		padding: 5px 13px;	
	}
	.blog-content .post-info {
		margin-top: 5px;
	}
	.blog-content .post-content{
		margin-top: 20px;
	}
	.blog-content .st-flex {
    	margin-top: 30px;
    	flex-wrap: wrap;
	}
	.blog-content .author-info {
		margin-top: 30px;
		padding: 20px;
	}
	#comment-wrapper ol li {
    	padding-top: 20px;
    	padding-bottom: 20px;
	}
	#comment-wrapper ol li .comment-content {
		margin-top: 15px;
	}
	.st-blog-details .blog-content .pagination {
		margin-top: 30px;
	}
	#respond {
		padding:20px;
	}
	.st-blog aside .sidebar-widget.widget_st_list_entries ul li .content .cate {
    	line-height: 15px;
    	margin-bottom: 4px;
	}
	.profileSummaryWrapper .contentWrapper li {
		margin-right: 30px;
    	flex: 1 1 30%;
    	margin-bottom: 20px;
	}
	.profileSummaryWrapper .contentWrapper li strong {
    	font-size: 24px;
    	line-height: 45px;
	}
	.profileSummaryWrapper .navbar {
		margin-bottom: 20px;
	}
	.shareCardsWrapper .st-tabs .nav-tabs li a {
    	padding: 20px 35px;
	}
	.tab-title {
		font-size: 23px;
	}
	body .ag-theme-balham .ag-ltr .ag-cell {
		line-height: 17px;
		font-size: 12px;
	}
	.membershipRibbon {
		padding: 10px;
   		height: 125px;
    	width: 90px;
    	font-size: 11px;
   		padding-top: 23px;
	}
	.shareCardsWrapper {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.otherModesWrapper {
		padding-bottom: 15px;
	}
	.contentWrapper {
    	padding: 0 20px 40px;
	}
	.profileSummaryWrapper .dropdown-content {
		min-width: 193px;
	}
	.profileSummaryWrapper .dropdown-content a {
		padding: 5px 16px;
		line-height: 21px;
		font-size: 13px;
	}
	.profileSummaryWrapper .navbar a,
	.profileSummaryWrapper .dropdown .dropbtn {
		font-size: 15px;
	}
	.getInspired .imageWrapper {
    	max-height: 150px;
    }
    .getInspired .content {
    	padding: 9px 20px;
    	min-height: 140px;
	}
	.grayBg .content h4 {
    	font-size: 16px;
	}
	.grayBg .content p {
		font-size: 14px;
    	line-height: 19px;
    	margin-bottom: 0;
	}
	.whyUs .why_ros_info .why_ros_canvas p {
		font-size: 13px;
		margin-top: 7px;
	}
	footer .contactLinks h4 {
    	font-size: 16px;
	}
	.whyUs .why_ros_info .why_ros_canvas h2 {
		font-size: 16px;
	}
	.filter-wrapper .search-title h5 {
		font-size: 18px;
	}
	.st-content-wrapper {
    	padding-bottom: 40px;
	}
	.filter-xs input.form-control {
		line-height: 1;
	}
}
@media (max-width: 767px) {
	.bannerWrapper,
	.cycle-slideshow.bannerSlideShow,
	.bannerSlideShow .slide  {
		height: 100%;
		max-height: 100%;
		min-height: auto;
	}
	.homeTabs .tab-content>.tab-pane {
		padding: 15px 15px 20px 15px;
		margin-bottom: 20px;
	}
	.navbar-responsive {
		display: block;
	}
	.nav-md,
	.from-to-img,
	.btn-need-help,
	.bannerSlideShow .contentWrapper,
	.hotelResults,
	.st-faq-new .material-icons,
	.forgot-password-container .btn-cancel{
		display: none;
	}
	.tabsWrapper .nav-tabs {
		padding: 0 20px; 
		justify-content: start;
		position: relative;
	}
	.tabsWrapper .nav-tabs .nav-link {
		font-size: 70%;
    	/*margin-top: 9px;*/
    	padding: 2px 8px;
    	display: inherit;
	}
	.homeTabs .custom-radio,
	.flight-sort-dropdown .container-radio,
	.dropdown-menu-right .container-radio,{
		font-size: 13px;
		padding-left: 20px;
	}
	.homeTabs .custom-radio .radiomark,
	.flight-sort-dropdown .radiomark,
	.dropdown-menu-right .radiomark {
	    top: 2px;
	    height: 16px;
	    width: 16px;
	}
	.homeTabs .custom-radio .radiomark:after,
	.flight-sort-dropdown .container-radio .radiomark:after,
	.dropdown-menu-right .container-radio .radiomark:after	 {
	    top: 4px;
	    left: 4px;
	    width: 6px;
	    height: 6px;
	}
	.tabsWrapper.homeTabs {
    	margin-top: 20px;
    	padding-top: 0;
	}
	header {
		padding-top: 0;
	}
	.tabsWrapper .w-75 {
		width: 63% !important;
	}
	.popularDestinations.destinationSection {
		padding-top: 50px;
	}
	.popularDestinations .sectionHeading,
	.whyUs .sectionHeading {
		font-size: 21px;
    	line-height: 22px;
    	margin-top: 0;
	}
	.popularDestinations .sectionSubHeading {
		font-size: 13px;
    	line-height: 16px;
    	margin-top: 15px;
    	margin-bottom: 10px;
	}
	.flight-section {
		flex-direction: column;
	}
	.txt-sm-center {
		text-align: center;
	}
	.txt-sm-center .submitBtn {
		float: none;
	}
	.where-to,
	.where-to-return {
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.popularDestinations .tabsWrapper .nav-tabs {
		justify-content: start;
		padding-bottom: 0;
    	padding-left: 0;
    	padding-right: 0;
	}
	.popularDestinations .tabsWrapper .nav-tabs .nav-link {
    	font-size: 67%;
    	margin-top: 9px;
    	padding: 2px 7px;
	}
	.slideshow {
		margin: 0 auto;
	}
	.popularDestinations .tab-pane {
		padding-left: 0;
		padding-right: 0;
	}
	.getInspired.section,
	.whyUs.section {
		padding-top: 30px;

	}
	.mailchimp {
		padding-top: 40px;
		padding-bottom: 30px;
	}	
	.getInspired.section {
		padding-bottom: 30px;
	}
	.getInspired .sectionHeading {
    	margin-bottom: 20px;
    	font-size: 21px;
    	line-height: 25px;
	}
	.getInspired .imageWrapper {
    	max-height: 160px;
    }
    .getInspired .content {
    	padding: 15px;
    	min-height: 100px;
	}
	.grayBg .content h4 {
    	font-size: 1.2rem;
	}
	.grayBg .content p {
		font-size: 14px;
    	line-height: 23px;
    	margin-bottom: 0;
	}
	.whyUs .why_ros_info .why_ros_canvas {
		border-right: 0;
    	padding: 5px 20px;
    	margin-bottom: 20px;
    	padding-bottom: 0;
    	min-height: auto;
    	margin-top: 0;
	}
	.whyUs .why_ros_info .why_ros_canvas h2 {
		font-size: 18px;
		margin-bottom: 7px;
	}
	.whyUs i {
		font-size: 35px;
    	margin: 0px 0 4px;
	}
	.whyUs .why_ros_info .why_ros_canvas p {
		font-size: 14px;
    	margin-top: 0;
    	line-height: 20px;
    	margin-bottom: 0;
	}
	.whyUs .why_ros_info .last {
		margin-bottom: 0 !important
	}
	.mailchimp .media .media-object {
		top: 0;
	}
	.mailchimp .st-heading-section {
		font-size: 17px;
	}
	.mailchimp .c-grey,
	.details,
	.car-card .primary-details {
		font-size: 14px;
	}
	.mailchimp .media {
		margin-bottom: 20px;
	}
	footer,
	body .facilityTab.tab-pane {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	footer h5 {
    	margin-bottom: 10px;
    	font-size: 16px;
    	margin-top: 10px;
	}
	.footerLink li,
	.st-description,
	.item-content .shortDesc {
		margin-bottom: 10px;
	}
	.powerText {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.powerText ~ img {
		float: none;
		width: 120px;
		margin: 0 auto;
	}
	.submitBtn {
    	padding: 6px 10px 6px 20px;
    	font-size: 14px;
	}
	.subcribe-form .form-control {
		height: 40px;
    	line-height: 53px;
    	font-size: 14px;
	}
	.subcribe-form input[type="submit"] {
		font-weight: normal;
		height: 40px;
    	line-height: 30px;
	}
	header.bgWhite {
		background: #002e6d;
   		border-bottom: 1px solid #002e6d;
	}
	.search-background {
		height: 150px;
	}
	.search-background h2 {
		font-size: 22px;
		line-height: 28px
	}
	.filter-wrapper .py-4 {
		padding-top: 0.8rem !important;
		padding-bottom: 0.8rem !important;
	}
	.filter-wrapper .search-title h5{
		font-size: 1rem !important;
	}
	.filter-wrapper .search-title .my-4{
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
	.filter-wrapper .bg-white.my-3 {
		margin-top: 0.5rem!important;
		margin-bottom: 0.5rem!important;
	}
	.filter-wrapper .bg-white > .py-3 {
		padding-bottom: 0.5rem!important;
		padding-top: 0.5rem!important;
	}
	.filter-wrapper .collapse,
	.filter-wrapper .collapse> .mt-3 {
		margin-top: 0.5rem!important;
	}
	.filter-wrapper .search-label {
    	font-size: 13px;
    	line-height: 18px;
	}
	.filter-wrapper .search-label ~ a {
    	font-size: 13px;
    	line-height: 14px;
	}
	.filter-wrapper .dateRangepicker {
		height: 20px;
		font-size: 13px;
	}
	.filter-wrapper .economy {
		height: 20px;
		font-size: 15px;
	}
	.irs {
		font-size: 13px;
	}
	.filter-wrapper .noUi-target.mb-3,
	.trvlr-flight-search .d-flex.align-items-center.mb-3,
	.seacrh-hotel-section .d-flex.align-items-center.mb-3,
	.service-location {
		margin-bottom: .5rem!important;
	}
	.filter-wrapper .customCheckbox {
		margin-bottom: 6px;
		line-height: 23px;
	}
	.flight-sort-dropdown .container-radio,
	.seacrh-hotel-section .container-radio,
	.facilities,
	.search-result-page .dropdown-menu-right .container-radio,
	.search-flights-multi .dropdown-menu-right .container-radio {
		margin-bottom: 5px;
	}
	.flight-sort-dropdown .sort-title,
	.dropdown-menu-right .sort-title{
		font-size: 14px;
    	margin-bottom: 6px;
	}
	.flight-sort-dropdown .price-title,
	.dropdown-menu-right .price-title {
	    margin-bottom: 2px;
    	margin-top: 15px;
    	font-size: 13px;
	}
	.flightTop .priceDiv {
		font-size: 16px;
    	line-height: 18px;
    	text-align: right;
    	padding-right: 15px;
	}
	.priceDiv small {
		font-size: 11px;
	}
	.flightTop .service-price {
		text-align: right;
	}
	.flightTop .btn.btn-outline-secondary {
		padding: 4px 8px;
		font-size: 12px;
	}
	.flightTop .flightLogo {
		text-align: left;
		letter-spacing: 0;
	}
	.timer .material-icons {
    	vertical-align: text-top;
	}
	.flightLogo img,
	.flightLogo span {
		display: inline-block;
	}
	.flightLogo span,
	body .st-tabs .nav-tabs li a,
	.st-blog .content .article .header .cate ul li a {
		font-size: 12px;
	}
	.stopStatus {
		align-self: center;
		position: relative;
	}
	.stopXs:before {
		content: '';
		left: 0;
    	border: 1px dashed #e0e0e0;
    	z-index: 1;
    	position: absolute;
    	width: 100%;
    	top: 9px;
	}
	.stopXs:after {
	    border-left: 7px solid #e0e0e0;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    width: 0;
	    height: 0;
	    right: -7px;
	    margin-top: -4px;
	    content: " ";
    	position: absolute;
    	top: 9px;
	}
	.stopXs-container {
		background-color: #fff;
		display: inline-block;
		z-index: 2;
		position: relative;
		padding: 0 5px;
	}
	.flightBorder,
	.flightBorder.noPlane {
		display: none;
	}
	.flightTop .leftWrap,
	.seacrh-hotel-section .card .item-content-w {
		border:0;
	}
	.rs_flight_details__header .rs_text_bold,
	.rs_flight_details__header .rs_flight_details__time {
		font-size: 14px;
		float: none;
    	margin-left: 0;
    	margin-bottom: 3px;
    	line-height: 15px;
	}
	.rs_flight_details__highlightBar {
		margin-top: 5px;
	}
	.rs_flight_details__leg {
		padding: 0.97em 0px 10px;
	}
	.rs_flight_details__leg__left {
		text-align: left;
	}
	.rs_flight_details__leg__right {
		margin-left: 0
	}
	.rs_air_leg_table td {
    	padding: 5px;
    	vertical-align: top;
    	font-size: 13px;
	}
	.rs_text--lighter,
	.rs_vertical_middle,	
	.layover-time {
    	font-size: 13px;
	}
	.rs_flight_details__highlightBar {
		padding: 0.25em 0.5em 0.25em;
		margin-top: 5px;
	}
	.reservation-status {
		padding: 30px 0;
	}
	.ft-flight-booking .hotelResults {
		font-size: 22px;
	}
	.reservation-status p {
		font-size: 14px;
		line-height: 20px;
	}
	.reservation-status .btn-price {
		font-size: 11px;
		padding: 7px 4px;
	}
	.ft-flight-booking .card-header{
		padding: 13px 15px;
    	font-size: 14px;
    	line-height: 16px;
	}
	.ft-flight-booking .rs_flight_details__leg__left {
		margin-right: 10px;
		width: 36px;
	}
	.ft-flight-booking .rs_flight_details__leg__left img {
		max-width: 36px;
	}
	.ft-flight-booking .rs_flight_details__leg__right {
    	margin-left: 50px;
	}
	.ft-flight-booking .rs_flight___date {
		font-size: 14px;
    	line-height: 20px;
    	margin-bottom: 8px;
    	margin-top: 9px;
	}
	.ft-flight-booking .rs_flight_details__time {
		margin-top: 5px;
	}
	.ft-flight-booking .rs_flight_details__time .material-icons,
	.head span.text-rating,
	.summary-card label{
		font-size: 14px;

	}
	.ft-flight-booking .rs_text--lighter {
		line-height: 18px;
	}
	.ft-flight-booking .rs_air_leg_table {
		width: 100%;
		margin-top: 0;
	}
	.ft-flight-booking .rs_air_leg_table td,
	.facilityHeading {
		line-height: 20px;
	}
	.ft-flight-booking .rs_flight_details__highlightBar .layover-time {
		float: none;
		display: block;
		margin-bottom: 4px;
	}
	.ft-flight-booking .rs_flight_details__highlightBar .rs_vertical_middle {
		line-height: 20px;
	}
	.ft-flight-booking .my-30 {
    	margin-bottom: 15px;
    	margin-top: 15px;
	}
	.cancelation-policy li {
		font-size: 14px;
    	margin-bottom: 9px;
    	line-height: 20px;
	}
	.ft-flight-booking .flight-booking-card .rs_flight_details__leg:last-child,
	.flight-sort-dropdown .container-radio:last-child,
	.seacrh-hotel-section .container-radio:last-child {
		margin-bottom: 0;
	}
	.borderDashed.p-3 {
		padding: .5rem!important
	}
	.borderDashed p{
		font-size: 11px;
    	line-height: 24px;
	}
	.booking,
	.summary-card label.totalPrice,
	.collapse-title,
	.filter-wrapper .collapse-title,
	.fa-rating,
	.seacrh-hotel-section .card .service-title,
	.login-help-form p,
	.supportContact,
	.facilityHeading,
	.cancellationText {
		font-size: 16px;
	}
	.summary-card {
		margin-top: 30px;
	}
	.seacrh-hotel-section .card .item-content {
		padding: 10px 15px 0 15px !important;
	}
	.seacrh-hotel-section .card .item-content-w {
		padding: 0 15px;
	}
	.seacrh-hotel-section .card .service-title,
	.st-checkout-page {
		margin-top: 0;
	}
	.seacrh-hotel-section .item-content .shortDesc,
	.forgot-password-container .text-muted {
		line-height: 17px;
	}
	.seacrh-hotel-section .item-content .reviewWrapper {
		padding-top: 5px;
    	padding-bottom: 8px;
	}
	.seacrh-hotel-section .card .position-relative.pt-4 {
		padding-top: 0.5rem !important;
	}
	.seacrh-hotel-section .card .price-section {
		padding-left: 15px;
		padding-right: 15px;
	}
	.price-section ul {
		padding-top: 16px;
		padding-right: 0;
	}
	.seacrh-hotel-section .service-price {
		height: 60px;
		align-items: center;
	}
	.filter-xs {
		height: 100vh;
		width: 100%;
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		z-index: 99;
		padding:20px;
		overflow-y: auto
	}
	.filter-xs--active {
		transform: translateX(0px);
	}
	.login-wrapper {
		background-image: none;
		background-color: #002e6d;
	}
	.logoWrapper img {
    	max-height: 30px;
	}
	.login-card {
		padding: 20px 16px 20px;
    	min-width: 290px;
    	min-height: 250px;
	}
	.login-card h1 ,
	.password-container h2,
	.login-help h2 {
		font-size: 23px;
		margin-bottom: 20px;
	}
	.login-card input.form-control {
		height: 30px;
	}
	.btn-signin,
	.search-flights-multi .priceDiv  {
		margin-top: 20px;
	}
	.login-wrapper .login-form, 
	.login-wrapper .login-help-form {
		height: 100vh;
	}
	.btn-signin {
    	padding: 5px 10px 5px 20px;
    }
    .login-wrapper .container {
    	padding-left: 0;
    }
    .login-help-form .login-help{
    	width: 290px;
    	height: auto;
    	padding: 7px 20px 20px;
    	min-height: auto
    }
    .login-help h2 {
    	margin: 10px 0 15px 0;
    	text-align: center;
    }
    .label-blue {
    	font-size: 12px;
    	line-height: 16px;
    }
    .login-help-form p {
    	font-size: 14px;
    	line-height: 20px;
    }
    .login-help .form-control {
    	height: 30px;
    	line-height: 16;
    	font-size: 13px;
	}
    .supportContact {
    	width: 290px;
    	padding: 5px 20px;
    	line-height: 21px;
    	font-size: 12px;
    }
    .login-help .btn-signin {
    	margin-top: 0;
    	font-size: 13px;
	}

	.reset-pwd-wrapper .login-help {
	    width: 290px;
	    height: auto;
	    padding: 10px 20px;
	    min-height: auto;
	}
	.reset-pwd-wrapper .form-group {
    	margin-bottom: 0.5rem;
	}
	.reset-pwd-wrapper .form-group label {
		font-size: 90%;
	}
	.reset-pwd-wrapper .btn-signin {
    	padding: 5px 10px 5px 10px;
    	width: 50%;
    	margin-top:10px;
	}
	.forgot-password-container .text-muted,
	.st-hotel-content,
	footer h5:after {
		margin-top: 10px;
	}
	.label-blue {
		padding:5px 20px;
	}
	.st-heading {
		font-size: 20px;
		line-height: 20px;
		margin: 5px 0;
	}
	.head span.head-rating {
		font-size: 18px;
		line-height: 20px;
	}
	.head .score {
		padding: 5px 10px 0px 10px;
		font-size: 19px;
		min-height: 35px;
    	width: 60px;
	}
	.head .score:after {
	    left: -10px;
	    border-bottom: 15px solid #002e6d;
	}
	.foot {
		text-align: left;
	}
	.st-content-wrapper .st-breadcrumb ul li:not(:last-child):after {
		background: #002e6d;
	}
	body .st-tabs .nav-tabs li {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.facilityTab .item .material-icons {
		font-size: 19px;
	}
	.st-heading-section {
		font-size: 20px;
	}
	.rooms-section .heading {
		margin: 15px 0;
		font-size: 16px;
	}
	.st-content-wrapper {
		padding-bottom: 30px;
	}
	.st-icheck-item .card .row,
	.st-checkout-page .check-out-form .form-group .form-control,
	.st-checkout-page .st-icheck,
	.st-checkout-page {
		margin: 0
	}
	.check-out-form h4 {
    	padding: 15px;
    	font-size: 13px;
	}	
	.st-icheck.rightAlign,
	.rightSideBar h3, 
	.summary-card .bg-light,
	.search-flights-multi .priceDiv,
	.search-flights-multi .priceDiv .service-price {
		text-align: center;
	}
	.rightSideBar {
		padding-top: 0;
	}
	.widget-tab-wrapper {
		padding: 0px 27px;
    	overflow: hidden;
    	width: calc(100% - 22px);
	}
	.widget-tab-wrapper .nav {
		display: block;
	    white-space: nowrap;
	    width: 100%;
	    overflow-x: auto;
	    flex: none;
	    flex-wrap: nowrap;
    }
    .widget-tab-wrapper .nav-item ,
    .destination-tab-wrapper .nav-tabs .nav-item{
    	display: inline;
    	white-space: nowrap;
    }
    .homeTabs a.text-white {
    	line-height: 40px;
    }
    .homeTabs .fa,
    .destination-tab-wrapper .fa,
    .faq-tab .fa {
    	font-size: 18px;
    	vertical-align: middle;
    }
    .destination-tab-wrapper {
    	display: flex;
    }
    .destination-tab-wrapper .destination-tab {
    	width: 100%;	
    	overflow: hidden;
    	padding: 0 15px;
    }
    .destination-tab-wrapper .nav-tabs {
    	display: block;
    	white-space: nowrap;
    	width: 100%;
    	overflow-x: auto;
    }
    .destination-tab-wrapper .nav-item {
    	display: inline;
    	white-space: nowrap;
	}
	.destination-tab-wrapper .nav-link {
		display: inherit;
	}
	.faq-tab {
		display: flex;
		overflow: hidden;
		align-items: center;
	}
	.faq-tab-wrapper {
		width: calc(100% - 15px);
    	overflow: hidden;
    	padding: 0 15px;
	}
	.faq-tab-container {
		display: block;
    	white-space: nowrap;
    	width: 100%;
    	overflow-x: auto;
	}
	.blog-page .col-xl-3.pr-0 {
		padding-right: 15px !important
	}
	.faq-sidebar .nav-pills .nav-link {
		padding: 0 10px;
		display: inline;
    	white-space: nowrap;
    	border-bottom: 0;
    	border-left: 0 !important;
    	border-bottom: 2px solid transparent;
    	
	}
	.faq-sidebar .nav-pills .nav-link.active {
		background: transparent;
    	border-left: 0;
    	border-bottom: 2px solid #6ec0e5;
    	border-left: 0 !important
	}
	.faq-section {
		margin-top: 15px;
		padding-bottom: 0;
	}
	.language-text {
		padding: 0;
    	font-weight: 500;
    	font-size: 13px;
    	color: #1b3563;
    	text-decoration: none;
	}
	.language-text:active,
	.language-text:hover {
		color: #1b3563;
	}
	.language-text:hover {
		padding: 0;

	}
	.homeTabs input.form-control,
	.homeTabs input.typeahead-input,
	.homeTabs .custom-select,
	.homeTabs input.js-typeahead-country_v1,
	.homeTabs label  {
		font-size: 14px;
	}
	.homeTabs label.custom-radio {
		padding-left: 19px;
	}
	.homeTabs label {
		margin-bottom: 0;
	}
	.homeTabs input.typeahead-input, 
	.homeTabs input.js-typeahead-country_v1 {
		padding-top: 7px;
	}
	.homeTabs .typeahead__container .icon-font, 
	.homeTabs.typeahead__container .icon-font {
    	top: 9px;
	}
	.bottomFooter {
		text-align: center;
		padding: 20px 0;
	} 
	.logo-img-wrapper {
		max-width: 140px;
		margin: 15px 0;
	}
	.flightTop {
		padding: 20px 0;
	}
	.flightRow.align-items-center {
		align-items: start !important;
	}
	.rs_text--lighter {
		padding-left: 5px;
    	letter-spacing: 1px;
    	margin-bottom: 10px;
    	margin-top: 3px;
	}
	.rs_flight_details__time .material-icons {
    	font-size: 15px;
	}
	.rs_air_leg_table {
		width: 100%;
	}
	.seacrh-hotel-section .hotel-list-img {
    	height: 250px;
	}
	.search-flights-multi .flightRow {
		margin-bottom: 25px;
	}
	.search-flights-round .priceDiv{
		margin-top: 0;
	}
	.search-flights-round .flightTop .btn.btn-outline-secondary,
	.search-flights-multi .flightTop .btn.btn-outline-secondary {
		padding: 4px 20px;
	}
	.bg-white.faq-section {
		background: none !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.st-faq-new {
		background: #fff;
    	padding-left: 15px;
    	padding-right: 15px;
	}
	.st-faq-new .item .card-header {
		margin-bottom: 0;
		padding-top: 20px;
	}
	.faq-sidebar-title:after {
    	width: 40%;
	}
	.st-blog .content .article .header .cate ul li a {
		padding: 2px 10px;
	}
	.st-icheck-item .search-hotel-img {
    	min-height: 265px;
	}
	.price-section .label,
	.price-section .value,
	.price-section .payment-amount .value {
		font-size: 12px;
		line-height: 17px;
	}
	.price-section li {
		margin-bottom: 8px;
	}
	.price-section li.payment-amount {
		margin-bottom: 0;
	}
} 
@media (min-width: 768px) {
	.navbar-responsive {
		display: none;
	}
	.nav-md {
		display: block;
	}
	.topMenus {
		margin-bottom: 0;
	}
	.bannerSlideShow .slide h2 {
		font-size: 15px;
    	line-height: 22px;
	}
	.facilityTab .material-icons {
		font-size: 16px;
	}
	.carsList .footer-inner .service-price {
		white-space: nowrap;
	}
	.carsList .service-price .price {
    	font-size: 12px;
    }
    .search-result-page .grid-item .section-footer .unit {
    	font-size: 11px;
    }
    .fotorama__wrap--css3 .fotorama__stage .fotorama__img {
		height: 100% !important;
    }
}
@media (min-width: 768px) and (max-width:992px) {
	.bannerSlideShow .slide .contentWrapper {
		margin-left: 69%;
		padding: 15px;
	}
	header a {
		font-size: 12px;
		padding: .375rem .4rem;
    	display: block;
    	white-space: nowrap;
	}
	.ft-flight-booking .rs_vertical_middle .material-icons {
		font-size: 19px;
	}
	.ft-flight-booking .summary-card,
	.ft-flight-booking .faq-card {
		margin-top: 30px;
	}
	.booking-section .mr-3 {
    	margin-right: 0rem!important;
	}
	.rooms-section .heading {
		font-size: 16px;
	}
	.st-heading {
		margin: 5px 0;
		font-size: 23px;
	}
	.booking-section .material-icons {
		padding: 5px;
	}
	.rooms-section .heading {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.filter-wrapper .customCheckbox {
		padding-left: 22px;
		line-height: 18px;
    	padding-top: 2px;
    	font-size: 12px;
	}
	a.map-view {
		min-height: 50px;
		line-height: 65px;
		background: url(https://mixmap.travelerwp.com/wp-content/themes/traveler/v2/images/map-view.png) top center no-repeat;
		font-size: 14px;
	}
	.filter-wrapper .st-icheck-item label .fa{
    	font-size: 16px;
    }
    .filter-wrapper .collapse-title {
    	font-size: 16px;
    }
    .hoteSearch .btn{
		width: 100%;
    }
    .reviewWrapper {
    	padding: 10px 0;
	}
	.whyUs .why_ros_info {
		border-right: 1px solid #dbe3e8;
    	display: flex;
	}
	.whyUs .why_ros_info,
	.whyUs .why_ros_info .last {
		border-right: 0
	}
	.filter-wrapper .search-title h5,
	.hotel-detail .filter-wrapper .search-title h5 {
    	font-size: 13px;
	}
	.search-hotel-img {
		height: 285px;
	}
	.widget-box .heading {
		font-size: 16px;
	}
	.price-section .label,
	.price-section .value,
	.price-section .payment-amount .value {
		font-size: 13px;	
	}	
	.price-section .label {
		line-height: 20px;
	}

}

@media(min-width: 600px) {
	.seacrh-hotel-section .hotel-list-img {
    	height: 300px;
	}
	.ft-flight-booking .summary-card label.totalPrice {
    	font-size: 12px;
    	font-weight: 300;
	}
}
